---
import Layout from '../../layouts/Layout.astro';
---



<Layout title="Blog" metaDescription="Este es un blog usando Astro">
    
    <h1>Bienvenido a mi Blog</h1>

    <a href="/blog/posts/primerPost">Mi primer post</a>
    <a href="/blog/posts/tutorialPost">Tutorial de Astro</a>
</Layout>