---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title='Cards Astro'>

    <section class="cards">
        <Card title="Primer título" content="Esta es la primera tarjeta que estoy haciendo para este curso de astro."/>
        <Card title="Segundo título" content="Este podría ser el segundo artículo que estoy haciendo en este curso de astro"/>
        <Card title="Tercer título" content="Esta es la tercera carta"/>
        <Card title="Cuarto título" content="Esta es la última carta"/>
        <Card/>
    </section>
    
    <style>
        .cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.2rem;
        }
        </style>
</Layout>
