---
import Card from '../components/Card.astro';
---
<section class="cards">
    <Card title="Primer título"/>
    <Card title="Segundo título"/>
    <Card title="Tercer título"/>
    <Card title="Cuarto título"/>
</section>

<style>
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }
</style>