---
interface Props {
	title: string,
	content: string
}
const {title, content} = Astro.props;
---

<article class="card">
	<h3>{title}</h3>
	<picture>
		<source srcset="#" type="image/webp" />
		<source srcset="#" type="image/jpeg" />
		<img src="#" alt="Prueba imagen" />
	</picture>
	<p>{content}</p>
</article>

<style>
	.card {
		width: 30rem;
		border: 3px solid #1b7a1b;
		border-radius: 2rem;
		padding: 3rem;
		& h3 {
			text-align: center;
			margin: 0;
			color: #333;
		}
		& p {
			text-wrap: pretty;
		}
	}
</style>
