---
interface Props {
	title?: string, //? Significa que son opcionales
	content?: string
}
const {title = "Default title", content = "Default content"} = Astro.props;
---

<article class="card">
	<h3>{title}</h3>
	<picture>
		<source srcset="#" type="image/webp" />
		<source srcset="#" type="image/jpeg" />
		<img src="#" alt="Prueba imagen" />
	</picture>
	<p>{content}</p>
</article>

<style>
	.card {
		width: 30rem;
		border: 3px solid #eaeaea;
		border-radius: 2rem;
		padding: 3rem;
		& h3 {
			text-align: center;
			margin: 0;
		}
		& p {
			text-wrap: pretty;
		}
	}
</style>
