---
interface Props {
	title?: string;
	metaDescription?: string;
}

const { title, metaDescription = "Astro Course"} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={metaDescription}>
		<title>Astro Course | {title}</title>
	</head>
	<body>
		<slot /> <!--Esto va a ser reemplazado luego -->
	</body>
</html>

<style>
	body {
		background-color: #202020;
		color: wheat;
	}
</style>